<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Opret ny studerne</title>
</head>
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

<body>
<!-- imports the fragment sidenav, from the adminStyle page. -->
<div th:include="../fragments/AdminpageStyle :: nav_top"></div>
<div class="container">
    <h1>KEA - Mannagement System v0.1</h1>
    <h5>Udviklet baseret på keams v0.5.</h5>
    <hr>
    <form id="form" th:action="@{/admin/student/create}" method="POST">
        <div class="form-group">
            <label for="InputCPR">CPR-Numer</label>
            <input type="text" class="form-control" id="InputCPR" aria-describedby="cprHelp" placeholder="Enter CPR-Nummer" th:field="${studentModel.cpr}" maxlength="10">
            <small id="cprHelp" class="form-text text-muted">Indtast elevens CPR-Nummer</small>
        </div>
        <div class="form-group">
            <label for="InputName">Student Navn</label>
            <input type="text" class="form-control" id="InputName" placeholder="Indtast elevens navn" aria-describedby="nameHelp" th:field="${studentModel.name}">
            <small id="nameHelp" class="form-text text-muted">Indtast elevens CPR-Nummer</small>
        </div>
        <div class="form-group">
            <label for="InputCPR">Alder</label>
            <input type="number" class="form-control" id="InputAge" aria-describedby="cprAge" placeholder="Enter CPR-Nummer" th:field="${studentModel.age}">
            <small id="cprAge" class="form-text text-muted">Indtast elevens Alder</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</html>