<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div th:include="../fragments/pageStyle :: nav_top"></div>
<div class="container">
    <h1>KEA - Mannagement System v0.1</h1>
    <h5>Udviklet baseret på keams v0.5.</h5>

</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</html>